@charset "UTF-8";
header{
	background-color: #000000;
} 

#hero {
	background-image: url(images/kaos.jpg);
	position: relative;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

#footer{
	position: relative;
	padding-top: 20px;
	padding-bottom:20px;
	padding-left: 0;
	padding-right: 0;
	background-color: #000;
	color: white;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

body {
	background-color:lightgray;
	padding: 0;
	margin: 0;
}

main {
	width:80%;
	margin: 0 auto;
	max-width:1024px;
	background-color: white;
}

nav {
	width: 80%;
	margin: 0 auto;
	max-width: 1024px;
	position: relative;
}

nav a {
	text-decoration: none;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #fff;
	font-size: 2em;
	display: block;
	padding: 10px 10px 10px 10px;
	background-color: black;
	opacity: 0.90;
}

nav a:hover {
	color:skyblue;
	background-color: #333; 
}

nav a:active{
	color:blueviolet;
}

nav a:visited{
	color:dodgerblue;
}

nav ul {
	margin: 0;
	padding-right: 20px;
	text-align: right;
	padding-top: 10px;
}

nav li {
	display:inline-block;
}

.content{
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
	margin-top: 50px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: large;
	text-align: left;
}

.img{
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;	
}

table{
	
}

h1{
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	border: medium solid #42979D;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
}

