@charset "UTF-8";
.rosa{
	background-color:cadetblue;
	height: 100px;
}

.azuldark{
	background-color: black;
	color:white;
}

.naranja{
	background-color:black;
	color: white;
	text-align: center;
}

.card-img{
	align-content: center;
}



#footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    background-color:#343A40;
    color: white;
    text-align: center;
 }

.botones{
	text-align: center;
}
.turquesa{
	color: aliceblue;
	background-color: black;
	font-size: x-large;
}

.btn-outline-secondary{
	color: black;
	background-color: white;
}

